<div class="page-header">
  <h3>Dish #<%= @dish.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @dish.name %></dd>

      <dt>Cuisine</dt>
      <dd>
        <% if @dish.cuisine.present? %>
          <a href="/cuisines/<%= @dish.cuisine_id %>">
            <%= @dish.cuisine.name %>
          </a>
        <% end %>
      </dd>

    </dl>

  </div>
</div>

<!-- A Dish has many bookmarks -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        You loved bagels at...
      </li>


      <li class="list-group-item">
    <form action="/create_bookmark" method="post">

      <!-- Label and input for dish_id -->
      <input type="hidden" name="dish_id" value="<%= @dish.id %>">

      <!-- Label and input for venue_id -->
      <div class="form-group">
        <label for="venue_id" class="control-label">
          Venue
        </label>

        <%= select_tag("venue_id", options_from_collection_for_select(Venue.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for notes -->
      <div class="form-group">
        <label for="notes" class="control-label">
         Any Notes?
        </label>

        <textarea id="notes" name="notes" placeholder="Notes" class="form-control" rows="3"></textarea>
      </div>

           <button class="btn btn-primary btn-sm">
              <i class="fa fa-heart"></i>
          </button>
    </form>
      </li>
    </ul>
  </div>
</div>

  <% Bookmark.where(dish_id: @dish.id).each do |bookmark| %>
     <% User.where(id: current_user.id).each do |us|  %> 
     <% Venue.where(id: bookmark.venue_id).each do |venue|%>
      
 
    <ul class="list-ustyled pt-3">
      <li class="media mb-2">
        <div>
        <h6>
        <a href="/venues/<%=bookmark.venue_id %>"><%=venue.name %></a> <%= time_ago_in_words(bookmark.updated_at)%>
        </h6>

        </div>
      </li>
    </ul>
      <% end %>    
      <% end %>
  <% end %>
